@import "./Breakpoints.scss";
@import "./Colors.scss";
@import "./Variables.scss";
@import "./Mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
}

.card-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
