@import "./Breakpoints.scss";
@import "./Colors.scss";
@import "./Variables.scss";
@import "./Mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
}

.app {
  height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
  }

  .card-page-wrapper {
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 30px;
  }
}
