$font-size-12px: 12px;
$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-20px: 20px;
$font-size-22px: 22px;
$font-size-24px: 24px;
$font-size-26px: 26px;

$primary-border-radius: 10px;
